<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205127110602-onv6msg7ai0kp3suq6m7r0ab0l44nki9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205127110602-onv6msg7ai0kp3suq6m7r0ab0l44nki9</string>
	<key>API_KEY</key>
	<string>AIzaSyC-MriBBzO2Tlc-ByF8Lpq86wnyqeJS1lk</string>
	<key>GCM_SENDER_ID</key>
	<string>205127110602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emplayer</string>
	<key>PROJECT_ID</key>
	<string>upbeatz-main</string>
	<key>STORAGE_BUCKET</key>
	<string>upbeatz-main.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205127110602:ios:432812fb9fcc82ed0d8933</string>
</dict>
</plist>